* {
    background-color: whitesmoke;
    color: black;
}

#mensaje{
    resize: none;
}

header{
    text-align: center;
    background-color: darkgray;
}

header img, nav ul li, nav ul li a{
    background-color: transparent;
}


nav ul {
    background-color: rgba(18, 18, 114, 0.536);
}

nav ul, nav ul li, nav ul li a{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    color: white;

}